body {
  margin: 0;
  padding: 0;
  font-family: 'OCR A Extended', sans-serif;
}

header {
  background-color: red;
  padding: 10px;
}

.header-content {
  display: flex;
  align-items: center;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 24px;
  margin: 0;
  margin-left: auto;
  margin-right:auto;
}
.logo a {
  color: inherit;
  text-decoration: none;
}

.logo a:hover {
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding: 32px;
  width: 400px;
}

.form-title {
  font-size: 24px;
  margin-bottom: 16px;
  text-align: center;
}

.form-group {
  margin-bottom: 16px;
}

.form-label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.form-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px;
  width: 100%;
}

.form-button {
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 12px 16px;
  width: 100%;
}

.form-info {
  font-size: 14px;
  margin-top: 16px;
  text-align: center;
}

.form-link {
  color: #007bff;
  text-decoration: none;
}

.form-link:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}

.message {
  color: green;
  font-weight: bold;
  margin-bottom: 10px;
}

