<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
  <link href="https://fonts.cdnfonts.com/css/ocr-a-extended" rel="stylesheet">
  <script src="/static/main.js"></script>
</head>
<body>
  <header>
    <div class="header-content">
      <h1 class="logo"><a href="/">Logo</a></h1>
      
      <div class="buttons-container">
        <button class="profile-button"><a href="/timetable"><span></span>Profile</a></button>
        <button class="logout-button"><span></span>Logout</button>
      </div>
    </div>
  </header>

  <div class="content">
    <h1>Your next class is in...</h1>
    <div class="map-image">
    </div>
  </div>

  <div class="container">
    <div class="sidebar">
      <div class="schedule-text">Schedule Today</div>
      {% for subject, location in subjects_today %}
      <ul id="subject-list"><button onclick="displayImage('{{ location.file }}')">{{ subject.name }}</button></ul>
      {% endfor %}
    </div>
  </div>


</body>
</html>

