<!-- templates/timetable.html -->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/css/styles_table.css">
  <link href="https://fonts.cdnfonts.com/css/ocr-a-extended" rel="stylesheet">
  <script src="/static/js/scripts.js"></script>
</head>
<body>
  <header>
    <div class="header-content">
      <h1 class="logo"><a href="/">Schedule</a></h1>
      <div class="buttons-container">
        <a href="/timetable"><button class="profile-button">Profile</button></a>
        <a href="/logout"><button class="logout-button"><span></span>Logout</button></a>
      </div>
    </div>
  </header>

  <main>
    <div class="table-row">
      {% for day, weekday in days %}
      <div class="day-container">
        <h2 class="day-title">{{ weekday }}</h2>
        {% for schedule, room, subject in day %}
        <div class="activity-row">
	    <div class="activity-name">{{ subject.name }} {{ schedule.start }}-{{ schedule.end }} in {{ room.name }}</div>
          <div class="action-buttons">
            <button class="action-button" action="/timetable/{{ schedule.id }}" method="DELETE"><span>&times;</span></button>
          </div>
        </div>
        {% endfor %}
        <button class="add-button" onclick="addActivity({{ day.id }})">Add</button>
      </div>
      {% endfor %}
    </div>
  </main>
  <div id="popup" class="popup">

    <form class="form" action="/timetable" method="POST">
      <div class="form-group">
        <label class="form-label" for="subject_id">Subject ID</label>
        <select id="subject_id" name="subject_id" required>
          {% for subject in subjects %}
            <option value="{{ subject.id }}">{{ subject.name }}</option>
          {% endfor %}
        </select><br>
      </div>
      <div class="form-group">
        <label class="form-label" for="room_id">Room ID</label>
        <select id="room_id" name="room_id" required>
          {% for room in rooms %}
            <option value="{{ room.id }}">{{ room.name }}</option>
          {% endfor %}
        </select><br>
      </div>
      <div class="form-group">
        <label class="form-label" for="weekday">Weekday</label>
        <select id="weekday" name="weekday" required>
          {% for day in range(5) %}
            <option value="{{ day }}">{{ day }}</option>
          {% endfor %}
        </select><br>
      </div>
      <div class="form-group">
        <label class="form-label" for="start">Start</label>
        <input class="time" type="time" id="start" name="start" required>
      </div>
      <div class="form-group">
        <label class="form-label" for="end">End</label>
        <input class="time" type="time" id="end" name="end" required>
      </div>
      <button class="form-button" type="submit">Create</button>
    </form>
    
    
  </div>
</body>
</html>
